#movie-details {
    width: 75%;
    margin: 40px auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;

}

#movie-details #poster {
    /* margin-top:40px; */
    border-radius: 10px;
    width: 30%;
    min-width: 250px;
}

#movie-details #details {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#movie-details .favourites-button {
    margin-top: 5px;
    width: 50%;
    background-color:#969dd7 ;
    color:rgb(7, 3, 3);

}

#details #text{
    height: 80%;
}

#title{
    font-size: larger;
    color: #24285f;
}

#poster img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}